/* Resetear estilos por defecto del navegador */
body, h1, h3, p, ul, li, form, fieldset, input, textarea, select, button, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Krub', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input-text,
.input-file {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.input-image {
    display: flex;
    align-items: center;
}

.imagenPreview {
    margin-right: 20px;
}

#imgPreview {
    max-width: 100%;
    height: auto;
}

select,
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

select {
    width: 100%;
}

button {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#productos {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#productos th, #productos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#productos th {
    background-color: #007bff;
    color: #fff;
}

img{
    width: 128px;
    height: 128px;
}

.campoAdmin {
    position: relative;
    margin-bottom: 15px;
}

.campoAdmin label {
    display: block;
    margin-bottom: 5px;
}

.campoAdmin input[type="text"],
.campoAdmin textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Estilo específico para el campo URL */
.campoAdmin #url {
    font-family: 'Krub', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.campoAdmin #estatus {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.campoAdmin #estatus:focus {
    border-color: #007bff; /* Color del borde cuando el campo está seleccionado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra cuando el campo está seleccionado */
}
.campoAdmin input[type="text"],
.campoAdmin input[type="number"],
.campoAdmin textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s ease; /* Transición suave para el color del borde */
}

.campoAdmin input[type="text"]:focus,
.campoAdmin input[type="number"]:focus,
.campoAdmin textarea:focus {
    border-color: #007bff; /* Color del borde cuando el campo está seleccionado */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra cuando el campo está seleccionado */
}

/* Estilo para el campo de URL */
.campoAdmin input[type="url"] {
    font-family: 'Krub', sans-serif;
    font-size: 12px;
    letter-spacing: 0.5px;
}

li{
    text-decoration: none;
    list-style: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}
