body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

a {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos adicionales para mejorar la apariencia en dispositivos pequeños */
@media screen and (max-width: 600px) {
    h1 {
        margin-top: 20px;
    }

    a {
        width: 80%;
        margin: 10px auto;
    }
}