/* Resetear algunos estilos por defecto del navegador */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Krub', sans-serif;
    background-color: #f0f0f0;
}

#encabezado-login {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#contenido-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-login {
    width: 100%;
}

.login-box {
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-box {
    position: relative;
    margin-bottom: 20px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
}



.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #333;
}

#btnIniciarSesion {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btnIniciarSesion:hover {
    background-color: #555;
}